* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.body {
	background-color: #333333;
	font-size: 18px;
}
/* ESTILOS DE NAVEGACIÓN */
.header {
    background-color: #333333;
}
.nav {
	margin: 0px 200px;
}
.nav-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}
.nav-ul_li {
	float: left;
}
.nav-ul_li_a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.nav-ul_li_a:hover{
	background-color: #111;
}

/* ESTILOS DE MI NOMBRE */
.nombre {
    background-image: url("Imagenes/fond2.jpg");
}
.nombre-div{
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-direction: column;
	height: 500px;
}
.nombre-h1{
	text-align: center;
	color: #ffffff;
	font-size: 50px;
}
.nombre-img{
	width: 250px;
	height: 150px;
	border-radius: 10%;
	border: 3px solid #000000;
}

/* ESTILOS SOBRE MI */
.SobreMi {
    background-color: #666666;
}
.SobreMi-QuienSoy_div_h2 {
	text-align: center;
	padding: 10px 10px 5px 10px;
}
.SobreMi-QuienSoy_div_p {
	width: 60%;
	margin: 0 auto;
	text-align: justify;
	padding: 5px 10px 10px 10px;
}
/* ESTILOS DE MIS CONOCIMIENTOS */
.SobreMi-conocimientos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.SobreMi-conocimientos_h2 {
	text-align: center;
	padding: 10px;
}
.SobreMi-conocimientos_divImagenes {
	padding: 5px;
}
.SobreMi-conocimientos_img {
	margin: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-position: center;
}

/* ESTILOS DE PROYECTOS */
.Proyectos {
	background-color: #666666;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.Proyectos-container {
	display: flex;
}
.Proyectos-card {
	margin: 20px;
}
.Proyectos-card-img {
	width: 250px;
	height: 150px;
	border: 2px solid #000000;
}
.Proyectos-card-p {
	text-align: center;
}

/* ESTILOS DE CONTACTO */
.Contacto {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.Contacto-h2 {
	text-align: center;
}
.Contacto-img {
	margin: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-position: center;
}

/* RESPONSIVE WEB DESIGN */
@media screen and (max-width: 1000px) {
	.header, .nav, .nav-ul {
		height: 0px;
	}
	.SobreMi-QuienSoy_div_p{
		width: 80%;
	}
}
@media screen and (max-width: 700px) {
	.header, .nav, .nav-ul {
		height: 0px;
	}
	.SobreMi-QuienSoy_div_p {
		width: 90%;
	}
	.Proyectos-container {
		flex-direction: column;
	}
}
